@using WebApplication.Areas.Admin.Models
@using System.Collections.Generic

@model ApplicationViewModel

<div class="row">
    @using (Html.BeginForm("UpdateStudent","Admission",FormMethod.Post,new {id="StudentForm",enctype="multipart/form-data"})) {
    <div class="col-sm-10">
        <div class="panel panel-primary">
            <div class="panel-heading">Edit Student</div>
            <div class="panel-body">
                <table class="table">
                <tr>
                    <td><label >ApplicationNo</label></td>
                    <td>@Html.TextBoxFor(m=>m.ApplicationNo,new {@readonly=true})</td>
                </tr>
                <tr>
                    <td><label>Photo of Student</label></td>
                    <td><img id="PhotoPreview"  height="100" width="100">
                        <input type="file" name="StudentPhoto" id="StudentPhoto" onchange="PreviewImage()" />
                    <td>
                </tr>
                <tr>
                    <td><label>Name of The Student</label></td>
                    <td>@Html.TextBoxFor(m=>m.StudentName)</td>
                    <td>@Html.ValidationMessageFor(model => model.StudentName, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>Father's/Guardian's Name</label></td>
                    <td><input asp-for="FatherName">
                    @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>Mother's Name</label></td>
                    <td>@Html.TextBoxFor(m=>m.MotherName)
                    @Html.ValidationMessageFor(model => model.MotherName, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>Aadhar No</label></td>
                    <td><input asp-for="AadharNo">
                    @Html.ValidationMessageFor(model => model.AadharNo, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td> <label>SSC Pass Type</label></td>
                    <td> @Html.DropDownListFor(model=>model.SchoolEducation,ViewBag.SchoolEducation as IEnumerable<SelectListItem>,"-- Select --",new { @class = "form-control"})</td>
                    <td> <label>10TH HallTicket No</label></td>
                    <td><input asp-for="HallTicketNo">
                    @Html.ValidationMessageFor(model => model.HallTicketNo, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>GPA/GRADE Obtained</label></td>
                    <td>@Html.TextBoxFor(m=>m.GradePoint)
                    @Html.ValidationMessageFor(model => model.GradePoint, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>Date of Birth as per SSC</label></td>
                    <td><input type="date" name="DOB" value=Model.DOB>
                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>Name of the School</label></td>
                    <td>@Html.TextBoxFor(m=>m.SchoolName)
                    @Html.ValidationMessageFor(model => model.SchoolName, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>School Address</label></td>
                    <td><input asp-for="SchoolAddress">
                    @Html.ValidationMessageFor(model => model.SchoolAddress, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>Course Preferred</label></td>
                    <td> @Html.DropDownListFor(model=>model.CoursePreferred,ViewBag.Courses as IEnumerable
                        <SelectListItem>,"-- Select --",new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.CoursePreferred, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>Medium of Instruction</label></td>
                    <td><input asp-for="Medium">
                    @Html.ValidationMessageFor(model => model.Medium, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>Language</label></td>
                    <td>@Html.DropDownListFor(model=>model.Language,ViewBag.Languages as IEnumerable
                        <SelectListItem>,"-- Select --",new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Language, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>Religion</label></td>
                    <td><input asp-for="Religion">
                    @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>Caste</label></td>
                    <td>@Html.DropDownListFor(model=>model.Caste,ViewBag.castes as IEnumerable<SelectListItem>,"-- Select --",new { @class = "form-control"})
                     @Html.ValidationMessageFor(model => model.Caste, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>Sub Caste</label></td>
                    <td>@Html.TextBoxFor(m=>m.SubCaste)
                    @Html.ValidationMessageFor(model => model.SubCaste, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>Mother Tongue </label></td>
                    <td><input asp-for="MotherTongue">
                    @Html.ValidationMessageFor(model => model.MotherTongue, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td> <label>Total Fee</label></td>
                    <td>@Html.TextBoxFor(m=>m.TotalFee)
                    @Html.ValidationMessageFor(model => model.TotalFee, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>Balance Fee</label></td>
                    <td><input asp-for="BalanceFee"></td>
                </tr>
                <tr>
                    <td><label>Parent Occupation</label></td>
                    <td> @Html.TextBoxFor(model=>model.ParentOccupation)
                    @Html.ValidationMessageFor(model => model.ParentOccupation, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>Address For Correspondence</label></td>
                    <td><textarea asp-for="StudentAddress"></textarea>
                    @Html.ValidationMessageFor(model => model.SchoolAddress, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>Contact Number</label></td>
                    <td><input asp-for="ContactNo">
                    @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td><label>Identification Marks</label></td>
                    <td>@Html.TextBoxFor(model=>model.IdentificationMarks)</td>
                </tr>
                <tr>
                    <td><label>Date of Admission</label></td>
                    <td><input type="date" name="DateOfAdmission" value=Model.DateOfAdmission>
                    @Html.ValidationMessageFor(model => model.DateOfAdmission, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td> <label>Signature of Student</label></td>
                    <td><img id="StudentSignPreview" height="50" width="200">
                    <input type="file" name="StudentSign" id="StudentSign" onchange="PreviewImage1()" /></td>
                </tr>
                <tr>
                    <td><label>Signature of Parent</label></td>
                    <td><img id="ParentSignPreview" height="50" width="200">
                        <input type="file" name="ParentSign" id="ParentSign" onchange="PreviewImage2()" /></td>
                </tr>
                <br></br>
                <tr>
                    <td colspan="4">
                        <center><input type="submit" class="btn btn-info"></center>
                    </td>
                </tr>
            </table>
            </div>
        </div>
    </div>
    }
</div>
<script src="/js/imgPreview.js"></script>
<script src="/js/validation.js"></script>
